html {
  font-size: 62.5%;

  &.sr .load-hidden {
    visibility: hidden;
  }
}

body {
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

ul li {
  font-size: 1.6rem !important;
}

.fixed-header,
.fixed-footer {
  width: 100%;
  position: fixed;
  background: #333;
  padding: 10px 0;
  color: #fff;
  font-size: 25px;
}
.fixed-header {
  z-index: 3;
  top: 0;
}
.fixed-footer {
  bottom: 0;
}
